* {
  box-sizing: border-box;
}

.ads {
  width: 630px;
  margin-left: 40px;
}

@media (max-width: 500px), (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 144dpi) {
  h1 { font-size: 43px; color: #22a8a1; text-align: center; margin-top: -24px; margin-bottom: -2px; line-height: 1.1em;
        }
p {font-size: 21px;line-height: 1.3em; color: #575757; margin: 16px;}

        body {
          padding: 20px;
          margin-bottom: 80px;

        }

  .ads {
    width: 100vw;
    margin-left:-21px;
  }

.btext {
  width: 110%;
  margin-left:-20px;}

  footer {
    padding-top: 0;
  }
}
