
h2 { font: normal 20px "Cabin-Regular";color: #22a8a1;}

body {
  border-left: #22a8a1;
  max-width: 800px;
  margin: auto;
}

h2 {margin-top: 1%; margin-bottom: 0;}
p {margin: 0;}

#full_fade {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

#results {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.wrap1 .wrap2 {
  display: flex;
  position: relative;
  width: 500px;
  visibility: hidden;
}

.wrap1 .wrap2 {
  visibility: hidden;
}

#Mer {
width: 100%;
height: auto;
opacity: 0;
transform: translateX(-90%);
}

#Dove {
  opacity: 0;
  transform: translateX(80%);
}

/* img {
  visibility: hidden;
} */

.wrapper img {
  width: 100%;
  height: 100%;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateX(-90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideUp2 {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slideUp {
    animation-name: slideUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }


  .slideUp2 {
      animation-name: slideUp2;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }


@keyframes slideUp3 {
        0% {
            opacity: 0;
            transform: translateX(-90%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideUp4 {
        0% {
            opacity: 0;
            transform: translateX(80%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .slideUp3 {
        animation-name: slideUp3;
        animation-duration: 1s;
        visibility: visible;
      }


      .slideUp4 {
          animation-name: slideUp4;
          animation-duration: 1s;
          visibility: visible;
        }

        @keyframes slideUp5 {
            0% {
                opacity: 0;
                transform: translateX(80%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        .slideUp5 {
            animation-name: slideUp5;
            animation-duration: 1s;
            visibility: visible;
          }

        .slidecontainer {
            max-width: 800px;
            height: auto;
        }

        .slidecontainer img {
          position: relative;
          width: 80%;
          height: auto;
          margin: auto;
          margin-top: 30px;
        }

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: linear-gradient(to right, blue, pink);
          opacity: 0.7;
          transition: .2s;
          transition: opacity .2s;
          margin-bottom: 20px;
          margin-top: 10px;
          /* transform: rotate(90deg); */
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #ff0000;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: black;
            cursor: pointer;
        }

        .image.is-active {
        	display: block;
        }

        /* hide all images that arent active */
        .image {
        	display: none;
          position: absolute;
          margin: 20px;
        }

        .number
        {visibility: hidden;}
