/* .toys img {
  width: 650px;
  height: auto;
padding-top: 20px;
} */

.toys img {
  display: flex;
  margin-left: 45px;
/* justify-content: center; */
width: 650px;
padding-top: 20px;
/* width: 800px; */
}

@media (max-width: 500px), (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 144dpi) {
    h1 { font-size: 50px; color: #22a8a1; text-align: center; margin-top: -2px; margin-bottom: -2px; line-height: 1em;
}

/* .toys img {
  width: 100%;
  height: auto;
} */
.toys img {
  width: 100vw;
  margin-left: -23px;
}


p {font: normal 21px "Brandon_light";line-height: 1.3em; color: #575757; margin: 16px;}

body {
  padding: 20px;
  margin-bottom: 60px;

  /* margin: 10px; */
}

.btext {
  /* margin-left: 390px; */
  /* width: 100vw; */
  width: 110%;
  margin-left: -20px;
}

}
