@font-face {font-family: fertigo-script, sans-serif;
font-style: normal;
font-weight: 400;}

@font-face { font-family: "COLLEGE"; src: url("../fonts/COLLEGE.ttf"); }
@font-face { font-family: "DancingScript-Regular"; src: url("../fonts/DancingScript-Regular.otf"); }
@font-face { font-family: "Roboto-Regular"; src: url("../fonts/Roboto-Regular.ttf"); }

/* h1 { font: normal 48px "DancingScript-Regular"; color: pink; text-align: center;}
h2 {font: normal 48px "COLLEGE"; color: blue; text-align: center;}}
h3 {font: normal 48px "Roboto-Regular"; color: grey; text-align: center;} */

* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; */
  /* cursor: url('cursor0.jpg'), auto; */
}

#result {
  width: 200px;
  height: 200px;
  /* border: solid 1px black; */
  margin: auto;
}

#result:hover {
  cursor: url('cursor1.jpg'), auto;
}

img {
  width: 100%;
}
