
html{margin-top: 2%; margin-left: 0; margin-right: 0%; margin-bottom: 4%;}

/* <meta name="viewport" content="width=device-width" /> */

/* @font-face { font-family: "Brandon_bld"; src: url("../fonts/Brandon_bld.otf"); }
@font-face { font-family: "Brandon_light"; src: url("../fonts/Brandon_light.otf"); } */

@font-face {font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 700;}

@font-face {font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 300;
}

@font-face { font-family: "Roboto-Regular"; src: url("../fonts/Roboto-Regular.ttf"); }


h1 { font-family: brandon-grotesque, sans-serif;
font-style: normal; font-weight: 700; font-size: 60px; color: #22a8a1; text-align: center; margin-top: -2px; margin-bottom: -2px;}
h2 { font: normal 20px "Cabin-Regular";}
h3 {font: normal 48px "Roboto-Regular"; color: grey; text-align: center;}
/* p {font-family: "proxima-nova", sans-serif; font-weight: 300px; font-size: 15px; line-height: 1.3em; color: #575757;} */
p {font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 300; font-size: 20px; line-height: 1.36em; color: #575757;}

a {font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 700; font-size: 20px;
text-decoration: none; color: #22a8a1;}

#full_fade {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  z-index: 10;
}
/*
.part-b {
    background: red;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
.part-b .background {
    display: block;
    position: absolute;
    left: 0px;
    width: 50%;
height: 100vh;
background-color: blue;
} */

header {
  padding-top: 18px;
  	padding-bottom: 40px;
  	padding-left: -70px
  	margin-left: -20px;
  	/* border-bottom: 1pt solid #939393; */
  	width: 100%;
    height: 20%;
  	/* background-color: white; */
}

#header-item {position: fixed; /*padding-top: 20px; */padding-left: 2%; left: 0%; top: 20px; margin: 0 auto;}

body {
  opacity: 1;
  transition: 0.7s opacity;
  margin: 0;
  padding: 10px;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

body {
  border-left: #22a8a1;
  max-width: 750px;
  margin: auto;
}

#text p {
  padding-top: 80px;
  padding-bottom: 120px;
}

footer {
    margin-top: 10%;
    margin-bottom: 2%;
    position: absolute;
    width: 100vw;
}

.btext {
  width: 630px;
  margin: auto;
}



/* .female {
        width: 130px;
        height: 195px;
        background: url("/media/img/female.png") no-repeat;
        /* margin: 50px; */
    /* }
    .female:hover {
        background: url("/media/img/male.jpg") no-repeat;
    } */

    .button {
        /* background-color: none; */
        border: 1px solid white;
        color: white;
        /* padding: 15px 32px; */
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 20px;
        font-family: "Neutra Display Bold";
        margin: auto;
        cursor: pointer;
        width: 100px;
        left: 40%;
    }

    .button:hover {
    /* background-color: #22a8a1; */
    background-color: white;
    color: black;
    }

    #theme {
        /* background-color: none; */
        /* border: 1px solid white; */
        color: #22a8a1;
        /* padding: 15px 32px; */
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 20px;
        font-family: "Neutra Display Bold";
        margin: auto;
        cursor: pointer;
        width: 100px;
        left: 40%;
    }

    hover {
    /* background-color: #22a8a1; */
    background-color: white;
    color: black;
    }

.post {
margin: auto;}
    .click .button {
      margin: auto;
      padding: 20px;
      margin-top: 20px;
    align-items: center;
    justify-content: center;
    }

    .click {
    margin: -50px;
    }


.wrapper {
  display: flex;
}


    /* .female { transition: all .2s ease-in-out infinite;}
.female:hover { transform: scale(1.1);} */

/* .male { transition: all .2s ease-in-out;}
.male:hover { transform: scale(1.1);} */

/* .female {
    animation-iteration-count: infinite;
} */


.sources {
  text-align: center;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  height: 30px;
  width: auto;
  /* background-color: #efefef; */
  text-align: right;
}

/* .sources ul {
  list-style: none;
  margin-top: 5px;
  width: 400px;
  text-align: left;
  left: 100px;
margin-left: 199px;}

.sources h2 {
  font: normal 30px "Neutra Display Medium"; color: black; text-align: center;
   -webkit-margin-after: 0.05em; margin-left: -40px;
 */

/* padding-bottom: 5px; */
}
/*
ul a {
  font: normal 20px "Neutra Display Medium"; line-height: 1.3em; color: black; text-align: left;
}

ul a:hover {
  text-decoration: underline; color: #22a8a1;
} */


/* animation: 5s ease-in-out infinite alternate;
    -webkit-animation: 5s ease-in-out infinite alternate; */
